@using Razor.Models
@model Product[]

@{
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/_BasicLayout.cshtml";
}

@if (Model.Length > 0)
{
    <table>
        <thead><tr><th>Produkt</th><th>Cena</th></tr></thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price zł</td>
                </tr>
            }
        </tbody>
    </table>

}

else
{
    <h1>Brak danych produktu</h1>
}
